/nbproject/private/
/project/LibEvaluacion/build/
/build/
/project/LibEvaluacion/dist/
/project/LibIntegracion/build/
/project/LibIntegracion/dist/
/project/LibSecretariaAcademica/build/
/project/LibSecretariaAcademica/dist/
/project/LibServiciosEscolares/build/
/project/LibServiciosEscolares/dist/